<a href="https://colab.research.google.com/github/Pratiksha-25/AIML-LAB-6th-Semester/blob/main/AIML_LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
colors = ("red", "blue", "red", "yellow", "red")
print("First color:", colors[0])
print("Last color:", colors[-1])
red_count = colors.count("red")
print("Number of times 'red' appears:", red_count)

First color: red
Last color: red
Number of times 'red' appears: 3

In [3]:
person = {
    "name": "pratiksha",
    "age":20,
    "city": "Dehradun"
}
print("Name:", person["name"])
print("Age:", person["age"])
print("City:", person["city"])
person["email"] = "pratikshabahuguna25i@gmail.com"
print("Updated dictionary with email:", person)
person["age"] = 22
print("Updated dictionary with modified age:", person)
if "city" in person:
    print("Key 'city' exists in the dictionary")

keys = person.keys()
values = person.values()
print("Keys:", list(keys))
print("Values:", list(values))

Name: pratiksha
Age: 20
City: Dehradun
Updated dictionary with email: {'name': 'pratiksha', 'age': 20, 'city': 'Dehradun', 'email': 'pratikshabahuguna25i@gmail.com'}
Updated dictionary with modified age: {'name': 'pratiksha', 'age': 22, 'city': 'Dehradun', 'email': 'pratikshabahuguna25i@gmail.com'}
Key 'city' exists in the dictionary
Keys: ['name', 'age', 'city', 'email']
Values: ['pratiksha', 22, 'Dehradun', 'pratikshabahuguna25i@gmail.com']

In [4]:
my_list = [11, 12, 13, 14,15]
my_tuple = (20, 19, 18, 17, 16)
my_list[4] = 25
print("Modified list:", my_list)
try:
    my_tuple[4] = 25
except TypeError as e:
    print("Error:", e)
print("Original tuple:", my_tuple)

Modified list: [11, 12, 13, 14, 25]
Error: 'tuple' object does not support item assignment
Original tuple: (20, 19, 18, 17, 16)

In [5]:
number = int(input("Enter a number to print its multiplication table: "))
for i in range(1, 11):
    product = number * i
    print(f"{number} x {i} = {product}")

Enter a number to print its multiplication table: 22
22 x 1 = 22
22 x 2 = 44
22 x 3 = 66
22 x 4 = 88
22 x 5 = 110
22 x 6 = 132
22 x 7 = 154
22 x 8 = 176
22 x 9 = 198
22 x 10 = 220

In [6]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    elif n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result
number = int(input("Enter a number to find its factorial: "))
factorial_result = factorial(number)
print(f"The factorial of {number} is: {factorial_result}")

Enter a number to find its factorial: 10
The factorial of 10 is: 3628800

In [7]:
while True:

    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))


    print("Choose an operation:")
    print("1. Addition (+)")
    print("2. Subtraction (-)")
    print("3. Multiplication (*)")
    print("4. Division (/)")
    print("5. Modulus (%)")
    print("6. Exit")


    choice = input("Enter your choice: ")


    if choice == '1':
        print(f"The result of {num1} + {num2} is {num1 + num2}")
    elif choice == '2':
        print(f"The result of {num1} - {num2} is {num1 - num2}")
    elif choice == '3':
        print(f"The result of {num1} * {num2} is {num1 * num2}")
    elif choice == '4':
        if num2 != 0:
            print(f"The result of {num1} / {num2} is {num1 / num2}")
        else:
            print("Error: Division by zero is undefined.")
    elif choice == '5':
        if num2 != 0:
            print(f"The result of {num1} % {num2} is {num1 % num2}")
        else:
            print("Error: Modulus by zero is undefined.")
    elif choice == '6':
        print("Exiting the calculator. Goodbye!")
        break
    else:
        print("Invalid choice. Please select a valid operation.")

Enter the first number: 2
Enter the second number: 3
Choose an operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Modulus (%)
6. Exit
Enter your choice: 5
The result of 2.0 % 3.0 is 2.0
Enter the first number: 3
Enter the second number: 9
Choose an operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Modulus (%)
6. Exit
Enter your choice: 4
The result of 3.0 / 9.0 is 0.3333333333333333
Enter the first number: 5
Enter the second number: 7
Choose an operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Modulus (%)
6. Exit
Enter your choice: 6
Exiting the calculator. Goodbye!

In [8]:
sum_of_evens = 0
for num in range(201, 301):
    if num % 2 == 0:
        sum_of_evens += num
print("The sum of all even numbers between 201 and 300 is:", sum_of_evens)

The sum of all even numbers between 201 and 300 is: 12550

In [9]:
def is_prime(n):
    if n <= 1:
        return False
    elif n == 2:
        return True
    elif n % 2 == 0:
        return False
    for i in range(3, int(n**0.5) + 1, 2):
        if n % i == 0:
            return False
    return True
number = int(input("Enter a number to check if it is prime: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number to check if it is prime: 87
87 is not a prime number.